.el-menu{
    height: 500px;
    overflow: hidden;
    background-color: #fff!important;
}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover{
    background-color: #13D1BE!important;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active{
    color: #13D1BE!important;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title:hover, .el-menu-item:hover{
    background-color: #13D1BE!important;
}
.el-submenu is-opened{
    height: 200px!important;
}

.el-rate{
    margin-top: 10px;
}